<div class="sidebar-container" ng-class="{'sidebar-container--hidden': ctrl.sidebarHidden}">
    <div class="sidebar-container__header" ng-click="ctrl.toggleSidebar()">
        <div class="sidebar-container__header__hyperon-logo"></div>
    </div>

    <div class="sidebar-container__divider">
        <div class="sidebar-container__divider__icon">
            <span class="sidebar-container__divider__label">Driver</span>
        </div>
    </div>

    <div class="sidebar-container__widget">
        <driver></driver>
    </div>

    <div class="sidebar-container__divider">
        <div class="sidebar-container__divider__icon">
            <span class="sidebar-container__divider__label">Vehicle</span>
        </div>
    </div>

    <div class="sidebar-container__widget">
        <vehicle></vehicle>
    </div>

    <div class="sidebar-container__divider">
        <div class="sidebar-container__divider__icon">
            <span class="sidebar-container__divider__label">Other</span>
        </div>
    </div>

    <div class="sidebar-container__widget">
        <driver-history></driver-history>
    </div>
</div>
